@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Esqadero FF CY 4F";
  src: local("Esqadero FF CY 4F"), local("EsqaderoFFCY4F"), url("../fonts/esqaderoffcy4f.woff2") format("woff2"), url("../fonts/esqaderoffcy4f.woff") format("woff"), url("../fonts/esqaderoffcy4f.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  /*font-display: block;*/
}

/*@layer components {
  .half-wrapper {
    @apply 
      flex-1
  }
}*/